.container {
    flex-grow: 1;
}

.event {
    border: 2px solid #00b7ff;
    border-radius: 10px;
    background-color: #343a40;
    padding: 0;
    transition:
        background-color 0.3s ease,
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.event:hover {
    cursor: pointer;
    background-color: #444;
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.image {
    max-height: 300px;
    border-radius: 5px;
    margin-top: 10px;
}
