.card {
    background-color: #212529;
    color: #fff;
    max-height: 145vh;
    overflow: auto;
    border: 1px solid aqua;
    text-align: center;
    border-radius: 20px;
}

.image {
    width: 100%;
    border-radius: 10px;
}

.title {
    color: #00ddff;
    font-weight: bold;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.description {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.infoContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info {
    color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    margin: 10px;
    background-size: 200% 200%;
    transition: background-position 0.5s;
    border: 1px solid aqua;
    overflow: hidden;
}

.infoText {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);
    display: block;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.buyButton {
    padding: 15px 30px;
    font-size: 20px;
    border-radius: 40px;
    border: 0;
    background-color: #343a40;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.buyButton:hover {
    background-color: #00ffff;
    border: 0;
    box-shadow: 0 0 20px rgb(0, 247, 255);
}

.chatContainer {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.chat {
    background-color: #343a40;
    border: 1px solid aqua;
    border-radius: 15px;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    width: 100%;
    max-width: 600px;
    max-height: 142vh;
    overflow: auto;
}

.chatTitle {
    font-size: 24px;
    margin-bottom: 15px;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
}

.username {
    color: #ffffff;
    margin-bottom: 5px;
}

.commentsContainer {
    margin: 0 auto;
    overflow: auto;
}

.comment {
    background-color: #343a40;
    padding: 15px;
    border-radius: 25px;
    word-wrap: break-word;
}

.comment strong {
    font-weight: bold;
    background-color: #343a40;
}

.inputContainer {
    margin-top: 20px;
}

.input {
    background-color: #343a40;
    color: #fff;
    border: 1px solid #4d4d4d;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: calc(100% - 22px);
}

.input:focus {
    border-color: #ffa500;
    box-shadow: 0 0 0 0.2rem rgba(255, 165, 0, 0.25);
}

.buttonContainer {
    text-align: right;
}

.button {
    background-color: #343a40;
    color: #ffffff !important;
    border: none !important;
    font-size: 25px;
    border-radius: 25px;
    margin: 10px;
    cursor: pointer !important;
    transition: background-color 0.3s;
    right: 0;
}

.button:hover {
    background-color: #00c0b9 !important;
}
