.container {
    max-width: 800px;
    padding: 5px;
}

.card {
    background-color: #212529;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 1);
}

.image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.title {
    font-size: 36px;
    color: #17a2b8;
}

.description {
    font-size: 24px;
    color: #adb5bd;
}

.infoContainer {
    border-top: 2px solid #343a40;
    padding-top: 40px;
}

.info {
    flex-basis: 30%;
    max-width: 250px;
    padding: 20px;
    background-color: #343a40;
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
}

.infoLabel {
    display: block;
    font-size: 18px;
    color: #adb5bd;
}

.infoText {
    display: block;
    font-size: 20px;
    color: #ffffff;
}

.buyButton {
    font-size: 24px;
    padding: 15px 30px;
    border-radius: 30px;
    background-color: #343a40;
    border-color: #00e1ff;
}

.buyButton:hover {
    background-color: #00d9ff;
    border-color: rgb(77, 151, 170);
}
