.container {
    max-width: 600px;
    margin: 0 auto;
}

.darkTheme {
    color: white;
    padding: 20px;
    border: 1px solid aqua;
    border-radius: 10px;
}

.label {
    font-size: 18px;
}

.input {
    background-color: #495057;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.checkbox {
    margin-top: 10px;
}

.radio {
    margin-bottom: 10px;
}

.button {
    background-color: #ffffff !important;
    color: #000000 !important;
    border: none !important;
    padding: 10px 20px !important;
    cursor: pointer !important;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #00c0b9 !important;
}
